
// ----
// Sass (v3.4.7)
// Compass (v1.0.1)
// fonksioynlar
/*
.test-1 {
  @include linear-gradient(#31B7D7, #EDAC7D);
}

.test-2 {
  @include linear-gradient(to right, #E47D7D 0%, #C195D3 50%, #4FB4E8 100%);
}

.test-3 {
  @include linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
}

 */
@function convert-angle($value, $unit) {
  $convertable-units: deg grad turn rad;
  $conversion-factors: 1 (10grad/9deg) (1turn/360deg) (3.1415926rad/180deg);
  @if index($convertable-units, unit($value)) and index($convertable-units, $unit) {
    @return $value
             / nth($conversion-factors, index($convertable-units, unit($value)))
             * nth($conversion-factors, index($convertable-units, $unit));
  }

  @warn "Cannot convert `#{unit($value)}` to `#{$unit}`.";
}
@function is-direction($value) {
  $is-direction: index((to top, to top right, to right top, to right, to bottom right, to right bottom, to bottom, to bottom left, to left bottom, to left, to left top, to top left), $value);
  $is-angle: type-of($value) == 'number' and index('deg' 'grad' 'turn' 'rad', unit($value));

  @return $is-direction or $is-angle;
}
@function legacy-direction($value) {
  @if is-direction($value) == false {
    @warn "Cannot convert `#{$value}` to legacy syntax because it doesn't seem to be an angle or a direction";
  }

  $conversion-map: (
          to top          : bottom,
          to top right    : bottom left,
          to right top    : left bottom,
          to right        : left,
          to bottom right : top left,
          to right bottom : left top,
          to bottom       : top,
          to bottom left  : top right,
          to left bottom  : right top,
          to left         : right,
          to left top     : right bottom,
          to top left     : bottom right
  );

  @if map-has-key($conversion-map, $value) {
    @return map-get($conversion-map, $value);
  }

  @return 90deg - convert-angle($value, 'deg');
}
@mixin linear-gradient($direction, $color-stops...) {
  @if is-direction($direction) == false {
    $color-stops: ($direction, $color-stops);
    $direction: 180deg;
  }

  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}




//menu renk ayarları
/* Red ü
$renk3: rgba(36, 123, 161, 0.9);
$renk3b: #188da1;
$renk3c: rgba(25, 72, 161, 0.89);

*/
$bgDefault      : #FF5B30;
$bgHighlight    : #c0392b;
$colDefault     : #ecf0f1;
$colHover       : #ffbbbc;
 ///
$blog_postbg:#22B662;
$anarenk:#f2efe8;
$renk1: #247BA1;
$renk2: #22B662;

$renk3: #25C269;
$renk3b: rgba(49, 194, 109, 0.8);
$renk3c: rgba(0, 144, 63, 0.9);

body{
  background-color: $anarenk ;
  font-family: "Lora",serif;
  p{
    size: 12px;

  }

}

.page
{
  width: 100%;
  min-height: 500px;
  padding: 10px;
  h2 {
    font-family: "Lora",serif;
  }
  h2:before{
    content: '\f0da  ';
    font-family: 'FontAwesome';
  }
}
.logo{
  background-image: url("../images/logo.png");
  background-size: 100% 100%;
  background-color: transparent;
  width: 50px;
}
.navbar-nav-ustmenu{
margin-right: 50px;
}
#anasayfa{
    background-color: $renk2;
  height:calc(100vh - 50px);
  @include linear-gradient(42deg, $renk1 0%, rgba(36, 123, 161,0.6) 50%, rgba(36, 123, 161,0.6)  50.01%, $renk1 100%);

}
#hakkimda{
  background-color: $renk2;
  @include linear-gradient(42deg, $renk2 0%, rgba(36, 123, 161,0.7) 50%, rgba(36, 123, 161,0.7)  50.01%, $renk2 100%);

  h2{
     padding-left: 50px;
    font-family: "Lora",serif;
  }
  h3{
     margin: -15px;
    padding: 0px;
    font-family: "Lora",serif;
  }
  p{
    font-family: "Lora",serif;
  }
  hr{
    width: 25%;
    text-align: left;
    margin-top: -5px;
    margin-left: 35px;
  }
  .islerbox{
    width: 90%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    hr{width: 50%;
      margin-top: 0px;
      margin-left: inherit;
      margin-right:  55px;
      margin-bottom: 15px;}
    img{
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    .items{
      //items
      p{font-size: 14px;}
    h2{ font-size: 24px;padding: 0px;}
    }
  }
}




/* --- Style --- */
.navbar-default {
  background-color: $bgDefault;
  @include linear-gradient(42deg, $bgDefault 0%, #D2B545 50%, #D2B545 50.01%, $bgHighlight 100%);
  font-family: "Lora",serif;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHover; }}
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover, &:focus {
          color: $colHover;   }}}
    .active {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight; }}
    .open {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;
        .caret {
          border-top-color: $colHover;
          border-bottom-color: $colHover; }}}
    > .dropdown {
      > a {
        .caret {
          border-top-color: $colDefault;
          border-bottom-color: $colDefault; }
        &:hover, &:focus {
          .caret {
            border-top-color: $colHover;
            border-bottom-color: $colHover; }}}}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $colDefault;
    &:hover, &:focus {
      color: $colHover;
      background-color: $bgHighlight; }}
}



.carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* The controlsy */
.carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 90px;
}
.carousel-control.right {
  right: -12px;
}
/* The indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
  background: #cecece;
}
.carousel-indicators .active {
  background: #428bca;
}
//profil card

.card {
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: rgba(214, 224, 226, 0.2);
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  .card-heading {
    padding: 0 20px;
    margin: 0;
    &.simple {
      font-size: 20px;
      font-weight: 300;
      color: #777;
      border-bottom: 1px solid #e5e5e5;
    }
    &.image {
      img {
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        vertical-align: top;
        border: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      .card-heading-header {
        display: inline-block;
        vertical-align: top;
        h3 {
          margin: 0;
          font-size: 14px;
          line-height: 16px;
          color: #262626;
        }
        span {
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }
  .card-body {
    padding: 0 20px;
    margin-top: 20px;
  }
  .card-media {
    padding: 0 20px;
    margin: 0 -14px;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
  }
  .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
    .comments-collapse-toggle {
      padding: 0;
      margin: 0 20px 12px 20px;
      a, span {
        padding-right: 5px;
        overflow: hidden;
        font-size: 12px;
        color: #999;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.card-comments .media-heading {
  font-size: 13px;
  font-weight: bold;
}

.card {
  &.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
    &:first-child {
      margin-left: 0;
    }
    .card-top {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      width: 170px;
      height: 150px;
      background-color: #ffffff;
      &.green {
        background-color: #53a93f;
      }
      &.blue {
        background-color: #427fed;
      }
    }
    .card-info {
      position: absolute;
      top: 150px;
      display: inline-block;
      width: 100%;
      height: 101px;
      overflow: hidden;
      background: #ffffff;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .title {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        color: #404040;
      }
      .desc {
        display: block;
        margin: 8px 14px 0 14px;
        overflow: hidden;
        font-size: 12px;
        line-height: 16px;
        color: #737373;
        text-overflow: ellipsis;
      }
    }
    .card-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
      width: 100%;
      padding: 10px 20px;
      line-height: 29px;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
  &.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
    .cardheader {
      background: url("http://lorempixel.com/850/280/nature/4/");
      background-size: cover;
      height: 135px;
    }
    .avatar {
      position: relative;
      top: -50px;
      margin-bottom: -50px;
      img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255, 255, 255, 0.5);
      }
    }
    .info {
      padding: 4px 8px 10px;
      .title {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1;
        color: #262626;
        vertical-align: middle;
      }
      .desc {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
      }
    }
    .bottom {
      padding: 0 20px;
      margin-bottom: 17px;
    }
  }
}

.card .btn {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  line-height: 18px;
}



.pagebg3
{
  min-height:calc(100vh - 50px);
  height: 100%;
  display: flex;
    @include linear-gradient(42deg, $renk3 0%, $renk3b, $renk3c  50.01%, $renk3 100%);

}
.portfolio
{

  width: 90%;

  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
  h2{
    padding-left: 50px;
    font-weight: bold;
    font-family: "Lora",serif;
  }

  hr{
    width: 25%;
    text-align: left;
    margin-top: -5px;
    margin-left: 35px;
  }
  .item{
    margin: 10px;
    padding: 0px;
    border-radius: 15px 5px 5px 5px;
    -moz-box-shadow:0px 0px 15px   #000000;
    -webkit-box-shadow:0px 0px 15px #000000;
    box-shadow:0px 0px 15px #000000;
    @include linear-gradient(42deg, rgba(248, 254, 255, 0.74) 0%, rgba(36, 123, 161, 0.24) 50%, rgba(36, 123, 161, 0.27) 50.01%, rgba(36, 123, 161, 0.43) 100%);
float: left;
    img{width: 100%;margin: 0px;padding: 0px;display: block;border-radius: 15px 5px 5px 15px; }
    h2:before{ content: '\f0da  ';font-family: 'FontAwesome';}
h2{font-size: 17px;font-weight: bold;padding-left: 10px;padding-right: 10px;}
p{font-size: 12px;padding-left: 10px;padding-right: 10px;}
  }
}

.product_page
{
  min-height:calc(100vh - 50px);
  height: 100%;
  display: flex;
  @include linear-gradient(42deg, $bgDefault 0%, #D2B545 50%, #D2B545 50.01%, $bgHighlight 100%);
}
.product_box{
width: 100%;
  padding: 50px;
  img {
    max-width: 100%; }

  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

  .tab-content {
    overflow: hidden; }
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s; }

  .card {
    margin-top: 50px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em; }

  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

  .details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }

  .colors {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1; }

  .product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-size: 17px;
font-family: 'Lora';
    font-weight: bold; }

  .checked, .price span {
    color: #fdf8ff; }

  .product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 5px; }

  .product-title {
    margin-top: 0; }

  .size {
    margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }

  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px; }
  .color:first-of-type {
    margin-left: 20px; }
a .btn_sq{
  border:1px solid rgba(0, 0, 0, 0.27);
  color:black;
  width:32px;
  height: 32px;
  display: block;
  float: left;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 32px;
  border-radius: 5px 5px 5px;
  @include linear-gradient(42deg, $renk3 0%, $renk3b, $renk3c  50.01%, $renk3 100%);
}
  a .btn_sq:hover{color: rgba(0, 0, 0, 0.59)
  }

  .not-available {
    text-align: center;
    line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

  .orange {
    background: #ff9f1a; }

  .green {
    background: #85ad00; }

  .blue {
    background: #0076ad; }

  .tooltip-inner {
    padding: 1.3em; }

  @-webkit-keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); } }

  @keyframes opacity {
    0% {
      opacity: 0;
      -webkit-transform: scale(3);
      transform: scale(3); }
    100% {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1); } }

  /*# sourceMappingURL=style.css.map */


}
.blog_page
{
width: 100%;
  min-height:calc(100vh - 50px);
  height: 100%;
  display: flex;
  border:1px solid black;
  @include linear-gradient(42deg, $renk1 0%, rgba(36, 123, 161,0.6) 50%, rgba(36, 123, 161,0.6)  50.01%, $renk1 100%);

}
.blog_left_nav
{
  background-color: #d2d5d2;
  border-radius: 5px 5px 5px 5px;
  margin-left: 15px;
  margin-top: 35px;
  .fa-fw {width: 2em;}


}
.blog_content
{

  .thumbnail{margin-top: 15px;}
  border-radius: 5px 5px 5px 5px;
  padding: 15px;
  margin-top: 35px;
a{}
  a:hover{text-decoration: none;}
  p{width: 100%;margin-top: 15px;}
  .blog_item_foot p{margin-top: -5px;margin-left: 15px; }
      .blog_postitem {
        borderborder-radius: 3px 3px 3px;
        width: 100%;
        display: flex;
        background-color: $blog_postbg;
        position: relative;

            .stars{
              color: yellow;
              margin-top: -15px;
              text-align: center;
            }

            .blog_item_head {
              padding-left: 15px;
              border-bottom: 1px solid green;

            }

        .row{margin: 0px !important;padding: 0px;}
      }

}

// left dropmenu

/* Toggle Styles */


#sidebar-wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper.toggled{
  padding-left: -250px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
  overflow: auto;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}


#sub_left_menu:before {

  font-family: 'FontAwesome';
  font-size: 30px;
  color: #c6ff00;;
  text-align: center;
  line-height: 35px;
  height: 40px;
  width: 40px;
  content: '\f00d';
  position: inherit;
display: block;
  margin-bottom: -60px;
  z-index: 9999;
  right: -40px;
  background-color: #60cdff;
  cursor: pointer;
}
#left_sub_menu_butn_active:hover::before {
  transition:All 0.5s ease;
  -webkit-transition:All 0,5s ease;
  -moz-transition:All 0,5s ease;
  -o-transition:All 0,5s ease;
  content: '\f0da ';
}
.left_sub_menu_butn_active:before {

  content: '\f0c9' !important;
  font-family: 'FontAwesome';
}






@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;

  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 250px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

}




@media (min-width: 755px) and (max-width: 1024px){

  .item {
    width: 20%;
  }


}

@media (min-width: 673px) and (max-width: 755px){


  .item {
    width: 30%;

  }
.blog_left_nav{float: none;}
  .left_sub_menu_butn_active:before {

    content: '\f00d' !important;
    font-family: 'FontAwesome';
    margin-left: 250px !important;
  }
  #sub_left_menu:before {

    content: '\f0c9';

  }
}
@media (min-width: 300px) and (max-width: 673px) {

  .blog_item_foot {
    margin-left: -10px !important;
    display: none;

    p {
      margin-top: -5px;
      margin-left: 0px !important;
    }
  }
  .left_sub_menu_butn_active:before {

    content: '\f00d' !important;
    font-family: 'FontAwesome';
    margin-left: 250px !important;
  }
  #sub_left_menu:before {

    content: '\f0c9';

  }
}







